*{
    margin: 0;
    padding: 0;
}


.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* shared-style */
.logo img {
  margin: 16px;
  max-width: 139px;
}

.btn {
  background-color: #469165;
  color: #ffffff;
  font-weight: 600px;
  border: none;
  margin: 24px 0;
  padding: 12.5px 16px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

/* main-css */
nav {
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

nav .menu {
  display: flex;
  gap: 32px;
  list-style-type: none;
  align-items: center;
  margin: 34px;
}

nav .menu a {
  font-size: 16px;
  color: #000000;
  font-weight: 500px;
  text-decoration: none;
}

.hero {
  margin: 34px 0;
  background: url(../assets/hero-bg.png);
  width: 100%;
  max-width: 1600px;
}

#banner .banner-container {
  width: 85%;
  max-width: 1360px;
  border: 1px solid tomato;
  text-align: center;
  margin: 0 auto;
}

.btnn {
  color: #469165;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 500px;
  border-radius: 1000px;
  border-color: rgba(245, 245, 220, 0.579);
}

#banner .banner-container .banner-text .first-heading{
    width: 770px;
    font-size: 72px;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 84px;
    margin: 0 auto;
    text-align: center;
    text-transform: capitalize;
}
#banner .banner-container .banner-text .second-heading{
    width: 770px;
    font-size: 72px;
    font-weight: bold;
    color: #30B868;
    line-height: 84px;
    margin: 0 auto;
    text-align: center;
    text-transform: capitalize;
}


