.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo img {
  margin: 16px;
  max-width: 139px;
}

nav {
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

nav .menu {
  display: flex;
  gap: 32px;
  list-style-type: none;
  align-items: center;
  margin: 34px;
}

nav .menu a {
  font-size: 16px;
  color: #000000;
  font-weight: 500px;
  text-decoration: none;
}

.btn-primary {
  background-color: #469165;
  color: #ffffff;
  font-weight: 600px;
  border: none;
  /* margin: 24px 0; */
  padding: 12.5px 16px;
  border-radius: 4px;
  cursor: pointer;
  /* text-decoration: none; */
}

.btn-secondary {
  background: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 12.5px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.hero {
  position: relative;
  background: url(../assets/hero-bg.png);
  height: 674px;
  display: flex;
  align-items: center;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(2, 32, 54, 0.395);
}

.container-hero-content {
  position: relative;
  max-width: 1360px;
  color: #ffffff;
  margin: 0 auto;
  /* border: 1px solid tomato; */
  text-align: center;
}
.badge-circle {
  width: 210px;
  background: #ffffff;
  color: #469165;
  padding: 8px 12px;
  border-radius: 1000px;
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 0 auto;
}

.circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #1b7904a6;
  box-shadow: 0 0 0 4px rgba(27, 121, 4, 0.242);
}

.badge {
  font-size: 16px;
  font-weight: 500px;
}

.hero h1 {
  max-width: 770px;
  text-align: center;
  /* border: 1px solid yellow; */
  margin: 0 auto;
  font-size: 72px;
  font-weight: bold;
  line-height: 84px;
  /* text-transform: capitalize; */
}

.hero h1 span {
  color: #30b868;
  margin-bottom: 16px;
}

.hero p {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 32px;
}

.hero-buttons button {
  margin-right: 16px;
}

.note {
  padding: 60px 0;
  text-align: center;
  max-width: 1360px;
  margin: 0 auto;
  /* border: 1px solid tomato; */
}

.note .note-container h2 {
  font-size: 48px;
  font-weight: bold;
  color: #001931;
  margin-bottom: 16px;
}
.note .note-container p {
  font-size: 16px;
  color: #627382;
  margin-bottom: 44px;
}

.note .note-cards {
  max-width: 1360px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.note-cards .card {
  width: 322px;
  height: 300px;
  border-radius: 8px;
  text-align: center;
  /* border: 1px solid #a0aab316; */
  padding: 69.5px 48px;
  margin: 0 auto;
  box-shadow: 2px 2px 1px #62738214;
}

.note-cards .icons {
  width: 60px;
  height: 60px;
  background-color: #f95555;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  cursor: pointer;
}

.note-cards .card h3 {
  font-size: 24px;
  font-weight: 600px;
  color: #001931;
  margin-bottom: 16px;
}

.note-cards .card p {
  color: #627382;
  line-height: 20px;
}

.brain {
  width: 85%;
  max-width: 1360px;
  margin: 120px;
  /* border: 1px solid red; */
}

.brain .brain-section-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.brain-section-container .brain-image {
  width: 600px;
  height: 600px;
}

.brain-section-container .brain-text {
  width: 700px;
  height: 396px;
}

.brain-text .label {
  color: #469165;
  font-weight: 500px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.brain-text h2 {
  color: #001931;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 16px;
}

.brain-text p {
  color: #627382;
  line-height: 20px;
  padding-right: 300px;
  margin-bottom: 40px;
}

.brain-text ul {
  width: 700px;
  height: 128px;
}

.brain-text ul li {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 16px;
  color: #001931;
  line-height: 20px;
}

.cta {
  margin: 120px 0;
}

.cta--heading {
  max-width: 1280px;
  text-align: center;
  margin: 0 auto;
}

.cta .cta-container {
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
  background-color: #f7f6f2;
  text-align: center;
  padding: 80px 40px;
}

.cta-container h2 {
  color: #001931;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 16px;
}

.cta-container p {
  color: #627382;
  line-height: 24px;
  margin-bottom: 24px;
}

.cta-container button {
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 0 auto;
}

.cta-container small{
  color: #627382;
  line-height: 20px;
}

